html,
body
  font-family: var(--font-main)
  font-size: 10px
  line-height: 1.6

html
  scroll-behavior: smooth

body
  min-height: 100rem
  font-family: var(--font-main)
  font-size: 1.6rem
  color: var(--text-color)
  background: var(--page-bg)
  background: url('@img/bg.jpg') no-repeat
